<div class="row">
	<div class="col-md-8">
		<% @articles.each do |a| %>
			<h3><%= link_to a.title, edit_article_path(a.id) %></h3>
			<p class="article-desc"><%= a.content[0...20] if a.content %></p>
			<hr>
		<% end %>
	</div>

	<div class="col-md-4">
		right banner
	</div>
</div>

