<%= render 'layouts/message'  %>

<div class="jumbotron">
  <h1>欢迎来到飞吉的博客！</h1>
  <blockquote class="blockquote-reverse">
    <p>有朋自远方来,不亦乐乎</p>
    <footer>《论语.学而》</footer>
  </blockquote> 
  <p><a href="/articles" class="btn btn-primary btn-lg" role="button">请进</a></p>     
</div>
