// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-desc, .article-time {
	color: #999;
}

.article-time {
	margin-bottom: 20px;
}

div.new-top10 {
	border: 1px solid #eee;
	border-radius: 4px;
	float: right;
	width: 200px;
}

.comment {
	border-bottom: 1px solid #f0f0f0;
	padding: 8px 10px;
	margin: 0 -10px;
	background: #FFF;
}

.comments .comment .face {
	padding-right: 8px;
	width: 100px;
	margin-left: 0;
}

.comments .comment .infos {
	padding-left: 110px;
}

.comments .comment .info {
	font-size: 12px;
	color: #bbb;
	height: 20px;	
}

.pull-left {
	float: left;
}

.new-comment {
	margin-top: 20px;
}

div.article-info {
	
}

div.article-body {
	background-color: rgb(237, 237, 241);
	border: 1px solid rgb(226, 200, 200);
	padding: 10px 20px;
	border-radius: 5px;
}